# Файлы, сгенерированные IDE (например, IntelliJ IDEA)
.idea/
*.iml
*.ipr
*.iws
out/

# Папка с результатами сборки Gradle
build/

# Кэш Gradle
.gradle/

# Лог-файлы
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы, которые могут содержать локальные настройки или секреты
local.properties